ECheck (Version 4.3.4, Sep 28 2012), Zug-Checker für Eressea - Freeware!

Verarbeite Datei 'e3/test/orders.test.txt'.
Befehle für Partei 1 gefunden.
Rekrutierungskosten auf 80 Silber gesetzt, Warning Level 99.
Silberpool aktiviert.

Fehler in Zeile 11: BEZAHLE ohne NICHT ergibt keinen Sinn.
  `BEZAHLEN '
Fehler in Zeile 12: BEZAHLE ohne NICHT ergibt keinen Sinn.
  `BEZAHLEN foo '
Fehler in Zeile 13: Zu viele Argumente.
  `BEZAHLEN NICHT viel '
Warnung zur Zeile 9: Einheit bez hat keinen langen Befehl bekommen.
  `EINHEIT bez; Weltenforscher [1,160$]'
Fehler in Zeile 17: BEANSPRUCHE was?.
  `BEANSPRUCHE 1 '
Warnung zur Zeile 18: Objekt nicht erkannt.
  `BEANSPRUCHE 1 Foo '
Fehler in Zeile 19: BEANSPRUCHE was?.
  `BEANSPRUCHE '
Warnung zur Zeile 20: Objekt nicht erkannt.
  `BEANSPRUCHE viel Zeugs '
Fehler in Zeile 20: Zu viele Argumente.
  `BEANSPRUCHE viel Zeugs '
Warnung zur Zeile 14: Einheit clai hat keinen langen Befehl bekommen.
  `EINHEIT clai; Weltenforscher [1,160$]'
Fehler in Zeile 23: Zu viele Argumente.
  `BEF 1 '
Warnung zur Zeile 21: Einheit bef hat keinen langen Befehl bekommen.
  `EINHEIT bef; Weltenforscher [1,160$]'
Fehler in Zeile 27: Zu viele Argumente.
  `PRAEFIX kein blau'
Warnung zur Zeile 24: Einheit pref hat keinen langen Befehl bekommen.
  `EINHEIT pref; Weltenforscher [1,160$]'
Fehler in Zeile 29: Befehl nicht erkannt.
  `PFLANZE Samen '
Warnung zur Zeile 28: Einheit pflz hat keinen langen Befehl bekommen.
  `EINHEIT pflz; Weltenforscher [1,160$]'
Fehler in Zeile 33: Einheit fehlt.
  `SORTIERE VOR '
Fehler in Zeile 33: SORTIERE VOR oder HINTER <einheit>.
  `SORTIERE VOR '
Fehler in Zeile 34: Einheit fehlt.
  `SORTIERE HINTER '
Fehler in Zeile 34: SORTIERE VOR oder HINTER <einheit>.
  `SORTIERE HINTER '
Fehler in Zeile 35: SORTIERE VOR oder HINTER <einheit>.
  `SORTIERE '
Fehler in Zeile 36: SORTIERE VOR oder HINTER <einheit>.
  `SORTIERE bla '
Fehler in Zeile 37: SORTIERE VOR oder HINTER <einheit>.
  `SORT bla blub '
Fehler in Zeile 38: Zu viele Argumente.
  `SORT VOR blub foo'
Warnung zur Zeile 30: Einheit sort hat keinen langen Befehl bekommen.
  `EINHEIT sort; Weltenforscher [1,160$]'
Fehler in Zeile 42: Zu viele Argumente.
  `GRUPPE Bla bla'
Warnung zur Zeile 39: Einheit grou hat keinen langen Befehl bekommen.
  `EINHEIT grou; Weltenforscher [1,160$]'
Warnung zur Zeile 44: NEUSTART befohlen!.
  `NEUSTART Goblins foo'
Fehler in Zeile 45: Kein Passwort angeben.
  `NEUSTART '
Fehler in Zeile 46: Kein Passwort angeben.
  `NEUSTART Goblins '
Warnung zur Zeile 47: NEUSTART befohlen!.
  `NEUSTART Goblins foo bar'
Fehler in Zeile 47: Zu viele Argumente.
  `NEUSTART Goblins foo bar'
Warnung zur Zeile 43: Einheit neu hat keinen langen Befehl bekommen.
  `EINHEIT neu; Weltenforscher [1,160$]'
Fehler in Zeile 51: Anzahl Gegenstände/Personen/Silber fehlt.
  `RESERVIEREN ALLES Holz'
Fehler in Zeile 52: Anzahl Gegenstände/Personen/Silber fehlt.
  `RESERVIEREN'
Fehler in Zeile 52: RESERVIERE was?.
  `RESERVIEREN'
Fehler in Zeile 53: Anzahl Gegenstände/Personen/Silber fehlt.
  `RESERVIEREN JE Holz'
Fehler in Zeile 53: RESERVIERE was?.
  `RESERVIEREN JE Holz'
Fehler in Zeile 54: Anzahl Gegenstände/Personen/Silber fehlt.
  `RESER ALLES'
Fehler in Zeile 54: RESERVIERE was?.
  `RESER ALLES'
Fehler in Zeile 55: RESERVIERE was?.
  `RESER 4'
Fehler in Zeile 56: Anzahl Gegenstände/Personen/Silber fehlt.
  `RESER Silber'
Fehler in Zeile 56: RESERVIERE was?.
  `RESER Silber'
Fehler in Zeile 57: Zu viele Argumente.
  `RESER 4 Silber und Gold'
Warnung zur Zeile 48: Einheit res hat keinen langen Befehl bekommen.
  `EINHEIT res; Weltenforscher [1,160$]'
Fehler in Zeile 61: Befehl nicht erkannt.
  `//abc '
// ECHECK VERSION
Warnung zur Zeile 71: ROUTE ist kein Kreis; (0,0) -> (0,2).
  `ROUTE no no'
Fehler in Zeile 76: Talent nicht erkannt.
  `LERNEN'
Fehler in Zeile 77: Zu viele Argumente.
  `MACHEN 1 Rostiges Kettenhemd'
Warnung zur Zeile 72: Einheit def hat keinen langen Befehl bekommen.
  `EINHEIT def; Weltenforscher [1,160$]'
Fehler in Zeile 79: Befehl nicht erkannt.
  `SCHULE Gwyrrd'
Warnung zur Zeile 78: Einheit schu hat keinen langen Befehl bekommen.
  `EINHEIT schu; Weltenforscher [1,160$]'
Fehler in Zeile 85: Zahl zu groß: `Silber'. Stattdessen 1 benutzt.
  `PIRAT Silber '
Fehler in Zeile 88: Einheit fehlt.
  `TRANSPORTIERE '
Warnung zur Zeile 88: Kann zu transportierende Einheit nicht ermitteln.
  `TRANSPORTIERE '
Fehler in Zeile 89: Pro Einheit muß ein TRANSPORTIERE-Befehl gegeben werden.
  `TRANSPORTIERE 1 2 '
Warnung zur Zeile 86: Einheit carr hat keinen langen Befehl bekommen.
  `EINHEIT carr; Weltenforscher [1,160$]'
Fehler in Zeile 93: Einheit fehlt.
  `FAHREN '
Fehler in Zeile 95: Zu viele Argumente.
  `FAHREN 1 2 3 '
Fehler in Zeile 101: Richtung nicht erkannt.
  `ZERST 15 STRASSE PAUSE '
Fehler in Zeile 102: nur ZERSTOERE oder ZERSTOERE STRASSE sind erlaubt.
  `ZERST Burg '
Fehler in Zeile 103: nur ZERSTOERE oder ZERSTOERE STRASSE sind erlaubt.
  `ZERST 15 Burg '
Warnung zur Zeile 96: Einheit dest hat keinen langen Befehl bekommen.
  `EINHEIT dest; Weltenforscher [1,160$]'
Fehler in Zeile 106: Zu viele Argumente.
  `ZEIGEN 2 Schild '
Warnung zur Zeile 104: Einheit show hat keinen langen Befehl bekommen.
  `EINHEIT show; Weltenforscher [1,160$]'
Fehler in Zeile 114: Zauberspruch nicht erkannt.
  `ZAUBERE '
Fehler in Zeile 115: "blitzlicht" ist ein Kampfzauber.
  `ZAUBERE Blitzlicht '
Fehler in Zeile 116: Zauberspruch nicht erkannt.
  `ZAUBERE STUFE 2 REGION 1 1 Sonnenschein '
Fehler in Zeile 122: Option unbekannt.
  `OPTION Almosen '
Fehler in Zeile 123: Option unbekannt.
  `OPTION '
Fehler in Zeile 125: Zu viele Argumente.
  `OPTION Punkte NICHT mehr '
Warnung zur Zeile 117: Einheit opt hat keinen langen Befehl bekommen.
  `EINHEIT opt; Weltenforscher [1,160$]'
Warnung zur Zeile 126: Einheit repo hat keinen langen Befehl bekommen.
  `EINHEIT repo; Weltenforscher [1,160$]'
Fehler in Zeile 131: FOLGE EINHEIT xx, FOLGE SCHIFF xx oder FOLGE.
  `FOLGEN '
Fehler in Zeile 132: Einheit fehlt.
  `FOLGEN EINHEIT '
Warnung zur Zeile 133: Einheit foll hat schon einen langen Befehl in Zeile 130 ("FOLGEN SCHIFF 123").
  `FOLGEN SCHIFF '
Fehler in Zeile 134: FOLGE EINHEIT xx, FOLGE SCHIFF xx oder FOLGE.
  `FOLGEN 123 '
Fehler in Zeile 135: FOLGE EINHEIT xx, FOLGE SCHIFF xx oder FOLGE.
  `FOLGEN 123 123 '
Fehler in Zeile 136: Zu viele Argumente.
  `FOLGEN EINHEIT 123 foo '
Warnung zur Zeile 142: Einheit rou2 bewegt sich evtl. zu weit.
  `NACH o no nw w sw so '
Warnung zur Zeile 146: Einheit rou4 bewegt sich evtl. zu weit.
  `NACH o no nw w sw so PAUSE '
Fehler in Zeile 146: NACH geht nicht mit PAUSE.
  `NACH o no nw w sw so PAUSE '
Warnung zur Zeile 147: ROUTE beginnt mit PAUSE.
  `ROUTE PAUSE'
Warnung zur Zeile 147: Einheit rou4 hat schon einen langen Befehl in Zeile 146 ("NACH o no nw w sw so PAUSE ").
  `ROUTE PAUSE'
Fehler in Zeile 148: Richtung nicht erkannt.
  `NACH '
Fehler in Zeile 148: Einheit rou4 hat sich schon bewegt.
  `NACH '
Warnung zur Zeile 148: Einheit rou4 hat schon einen langen Befehl in Zeile 146 ("NACH o no nw w sw so PAUSE ").
  `NACH '
Fehler in Zeile 149: Richtung nicht erkannt.
  `ROUTE '
Fehler in Zeile 149: Einheit rou4 hat sich schon bewegt.
  `ROUTE '
Warnung zur Zeile 149: Einheit rou4 hat schon einen langen Befehl in Zeile 146 ("NACH o no nw w sw so PAUSE ").
  `ROUTE '
Fehler in Zeile 152: Zu viele Argumente.
  `VERLASSEN 1 '
Warnung zur Zeile 150: Einheit verl hat keinen langen Befehl bekommen.
  `EINHEIT verl; Weltenforscher [1,160$]'
Fehler in Zeile 157: Nummer des Objektes fehlt.
  `BETRETEN BURG '
Fehler in Zeile 158: Nummer des Objektes fehlt.
  `BETRETEN SCHIFF '
Fehler in Zeile 159: Zahl zu groß: `schiff'. Stattdessen 1 benutzt.
  `BETRETEN burg schiff '
Fehler in Zeile 160: Zu viele Argumente.
  `BETRETEN BURG 123 foo '
Warnung zur Zeile 153: Einheit betr hat keinen langen Befehl bekommen.
  `EINHEIT betr; Weltenforscher [1,160$]'
Fehler in Zeile 162: Befehl nicht erkannt.
  `UNTERHALTEN '
Warnung zur Zeile 161: Einheit unt hat keinen langen Befehl bekommen.
  `EINHEIT unt; Weltenforscher [1,160$]'
Fehler in Zeile 164: Befehl nicht erkannt.
  `TREIBE '
Warnung zur Zeile 163: Einheit tax hat keinen langen Befehl bekommen.
  `EINHEIT tax; Weltenforscher [1,160$]'
Warnung zur Zeile 166: Achtung! STIRB gegeben! Die Partei wird aufgelöst!.
  `STIRB pw'
Warnung zur Zeile 167: Achtung! STIRB gegeben! Die Partei wird aufgelöst!.
  `STIRB pw'
Fehler in Zeile 168: Kein Passwort angeben.
  `STIRB '
Warnung zur Zeile 168: Achtung! STIRB gegeben! Die Partei wird aufgelöst!.
  `STIRB '
Warnung zur Zeile 169: Achtung! STIRB gegeben! Die Partei wird aufgelöst!.
  `STIRB 1 2 3 '
Fehler in Zeile 169: Zu viele Argumente.
  `STIRB 1 2 3 '
Warnung zur Zeile 165: Einheit quit hat keinen langen Befehl bekommen.
  `EINHEIT quit; Weltenforscher [1,160$]'
Fehler in Zeile 172: Anzahl Rekruten fehlt.
  `REKRUT '
Fehler in Zeile 173: Zu viele Argumente.
  `REKRUT 1 2 '
Warnung zur Zeile 170: Einheit rec hat keinen langen Befehl bekommen.
  `EINHEIT rec; Weltenforscher [1,160$]'
Warnung zur Zeile 175: Passwort gelöscht.
  `PASSWORT '
Fehler in Zeile 177: Zu viele Argumente.
  `PASSWORT 1 2 3 '
Warnung zur Zeile 178: Text zu lang (max. 127).
  `PASSWORT 1aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa...'
Warnung zur Zeile 174: Einheit pw hat keinen langen Befehl bekommen.
  `EINHEIT pw; Weltenforscher [1,160$]'
Fehler in Zeile 180: Befehl nicht erkannt.
  `SABOTIERE SCHIFF '
Warnung zur Zeile 179: Einheit sabo hat keinen langen Befehl bekommen.
  `EINHEIT sabo; Weltenforscher [1,160$]'
Fehler in Zeile 200: Zu viele Argumente.
  `MACHEN STRASSE no no '
Fehler in Zeile 202: Sowas kann man nicht machen.
  `MACHEN 1 Foo '
Warnung zur Zeile 203: Einheit mak8 hat schon einen langen Befehl in Zeile 202 ("MACHEN 1 Foo ").
  `MACHEN 1 Holz foo '
Fehler in Zeile 203: Zu viele Argumente.
  `MACHEN 1 Holz foo '
Fehler in Zeile 204: Sowas kann man nicht machen.
  `MACHEN 3 4 Holz '
Warnung zur Zeile 204: Einheit mak8 hat schon einen langen Befehl in Zeile 202 ("MACHEN 1 Foo ").
  `MACHEN 3 4 Holz '
Warnung zur Zeile 205: Einheit mak8 hat schon einen langen Befehl in Zeile 202 ("MACHEN 1 Foo ").
  `MACHEN STRASSE PAUSE '
Fehler in Zeile 209: Zu viele Argumente.
  `LERNEN Taktik 50 '
Fehler in Zeile 211: Talent nicht erkannt.
  `LERNEN '
Fehler in Zeile 212: Talent nicht erkannt.
  `LERNEN foo '
Warnung zur Zeile 212: Einheit stu3 hat schon einen langen Befehl in Zeile 211 ("LERNEN ").
  `LERNEN foo '
Fehler in Zeile 213: Talent nicht erkannt.
  `LERNEN 5 Hiebwaffen '
Warnung zur Zeile 213: Einheit stu3 hat schon einen langen Befehl in Zeile 211 ("LERNEN ").
  `LERNEN 5 Hiebwaffen '
Warnung zur Zeile 214: Einheit stu3 hat schon einen langen Befehl in Zeile 211 ("LERNEN ").
  `LERNEN Hiebwaffen 5 '
Fehler in Zeile 214: Zu viele Argumente.
  `LERNEN Hiebwaffen 5 '
Fehler in Zeile 217: Talent nicht erkannt.
  `VERGESSEN '
Fehler in Zeile 218: Zu viele Argumente.
  `VERGESSEN Hiebwaffen 5 '
Fehler in Zeile 219: Talent nicht erkannt.
  `VERGE 5 Hiebwaffen '
Warnung zur Zeile 215: Einheit verg hat keinen langen Befehl bekommen.
  `EINHEIT verg; Weltenforscher [1,160$]'
Fehler in Zeile 221: Befehl nicht erkannt.
  `LEHRE stud '
Warnung zur Zeile 220: Einheit teac hat keinen langen Befehl bekommen.
  `EINHEIT teac; Weltenforscher [1,160$]'
Fehler in Zeile 223: Befehl nicht erkannt.
  `SPIONIEREN 123 '
Warnung zur Zeile 222: Einheit spy hat keinen langen Befehl bekommen.
  `EINHEIT spy; Weltenforscher [1,160$]'
Fehler in Zeile 226: Einheit fehlt.
  `KONTAKTIEREN '
Fehler in Zeile 227: Zu viele Argumente.
  `KONTAKTIEREN 123 456 '
Warnung zur Zeile 224: Einheit cont hat keinen langen Befehl bekommen.
  `EINHEIT cont; Weltenforscher [1,160$]'
Fehler in Zeile 229: Befehl nicht erkannt.
  `VERKAUFEN 1 Myrrhe '
Fehler in Zeile 230: Befehl nicht erkannt.
  `KAUFE 2 Balsam '
Warnung zur Zeile 228: Einheit trad hat keinen langen Befehl bekommen.
  `EINHEIT trad; Weltenforscher [1,160$]'
Warnung zur Zeile 235: Einheit mag1 hat schon einen Post-Kampfzauber gesetzt.
  `KAMPFZAUBER STUFE 2 Magisches~Lametta'
Fehler in Zeile 236: Zauberspruch nicht erkannt.
  `KAMPFZAUBER '
Fehler in Zeile 237: Zauberspruch nicht erkannt.
  `KAMPFZAUBER Foo '
Warnung zur Zeile 238: Einheit mag1 hat schon einen Kampfzauber gesetzt.
  `KAMPFZAUBER Blitzlicht '
Fehler in Zeile 239: Zu viele Argumente.
  `KAMPFZAUBER Blitzlicht Blitzlicht '
Warnung zur Zeile 239: Einheit mag1 hat schon einen Kampfzauber gesetzt.
  `KAMPFZAUBER Blitzlicht Blitzlicht '
Fehler in Zeile 240: Zu viele Argumente.
  `KAMPFZAUBER Blitzlicht NICHT Blitzlicht '
Fehler in Zeile 241: Zauberspruch nicht erkannt.
  `KAMPFZAUBER NICHT '
Warnung zur Zeile 231: Einheit mag1 hat keinen langen Befehl bekommen.
  `EINHEIT mag1; Weltenforscher [1,160$]'
Fehler in Zeile 251: Falscher Kampfstatus.
  `KAEMPFE HELFE VORNE '
Fehler in Zeile 252: Falscher Kampfstatus.
  `KAEMPFE Bla '
Fehler in Zeile 253: Zu viele Argumente.
  `KAEMPFE HINTEN NICHT '
Warnung zur Zeile 242: Einheit comb hat keinen langen Befehl bekommen.
  `EINHEIT comb; Weltenforscher [1,160$]'
Fehler in Zeile 256: Helfe-Status falsch.
  `HELFE 1 KaeMPFE '
Fehler in Zeile 259: Helfe-Status falsch.
  `HELFE 1 Parteitarnung '
Fehler in Zeile 262: Zahl zu groß: `ALLES'. Stattdessen 1 benutzt.
  `HELFE ALLES '
Fehler in Zeile 262: Helfe-Status falsch.
  `HELFE ALLES '
Fehler in Zeile 263: Zahl zu groß: `ALLES'. Stattdessen 1 benutzt.
  `HELFE ALLES ALLES '
Fehler in Zeile 264: Zu viele Argumente.
  `HELFE 1 ALLES 2 '
Fehler in Zeile 265: Helfe-Status falsch.
  `HELFE 1 '
Fehler in Zeile 266: Partei fehlt.
  `HELFE '
Fehler in Zeile 266: Helfe-Status falsch.
  `HELFE '
Warnung zur Zeile 254: Einheit help hat keinen langen Befehl bekommen.
  `EINHEIT help; Weltenforscher [1,160$]'
Warnung zur Zeile 272: Einheit give hat evtl. zu wenig Silber.
  `GIB TEMP a JE 1 Silber'
Warnung zur Zeile 273: Einheit give hat evtl. zu wenig Silber.
  `GIB 2 JE 1 Silber'
Warnung zur Zeile 277: Einheit give hat evtl. zu wenig Personen.
  `GIB 6 5 PERSONEN'
Fehler in Zeile 281: Anzahl Gegenstände/Personen/Silber fehlt.
  `GIB 2 JE ALLES Silber '
Warnung zur Zeile 281: Einheit give hat evtl. zu wenig Silber.
  `GIB 2 JE ALLES Silber '
Fehler in Zeile 282: Anzahl Gegenstände/Personen/Silber fehlt.
  `GIB 2 JE '
Fehler in Zeile 282: Was übergeben?.
  `GIB 2 JE '
Fehler in Zeile 283: Anzahl Gegenstände/Personen/Silber fehlt.
  `GIB 2 JE Silber '
Fehler in Zeile 283: Was übergeben?.
  `GIB 2 JE Silber '
Fehler in Zeile 284: Zu viele Argumente.
  `GIB 3 KOMMANDO NICHT '
Warnung zur Zeile 285: Objekt nicht erkannt.
  `GIB 3 1 KOMMANDO '
Warnung zur Zeile 286: Einheit give hat evtl. zu wenig Silber.
  `GIB 1 1 Silber nicht '
Fehler in Zeile 286: Zu viele Argumente.
  `GIB 1 1 Silber nicht '
Fehler in Zeile 294: Zu viele Argumente.
  `TARNE 1 2'
Fehler in Zeile 295: TARNE ohne Parameter.
  `TARNE foo '
Warnung zur Zeile 287: Einheit stel hat keinen langen Befehl bekommen.
  `EINHEIT stel; Weltenforscher [1,160$]'
Warnung zur Zeile 296: Einheit res hat schon in Zeile 48 Befehle bekommen. Benutze stattdessen Einheit ret.
  `EINHEIT res; Weltenforscher [1,160$]'
Fehler in Zeile 297: Befehl nicht erkannt.
  `FORSCHE Kraeuter '
Warnung zur Zeile 296: Einheit ret hat keinen langen Befehl bekommen.
  `EINHEIT res; Weltenforscher [1,160$]'
Fehler in Zeile 299: Befehl nicht erkannt.
  `FORSCHE '
Warnung zur Zeile 298: Einheit res2 hat keinen langen Befehl bekommen.
  `EINHEIT res2; Weltenforscher [1,160$]'
Warnung zur Zeile 304: ENDE ohne MACHE TEMP.
  `ENDE '
Warnung zur Zeile 300: Einheit tem hat keinen langen Befehl bekommen.
  `EINHEIT tem; Weltenforscher [1,160$]'
Warnung zur Zeile 300: Einheit tem hat keinen langen Befehl bekommen.
  `EINHEIT tem; Weltenforscher [1,160$]'
Fehler in Zeile 308: TEMP-Einheiten können nichts reservieren! Bitte GIB benutzen.
  `RESERVIERE 1 Silber '
Warnung zur Zeile 305: Einheit tem2 hat keinen langen Befehl bekommen.
  `EINHEIT tem2; Weltenforscher [1,160$]'
Fehler in Zeile 313: Falscher Parameter.
  `BEWACHE 1 '
Warnung zur Zeile 310: Einheit guar hat keinen langen Befehl bekommen.
  `EINHEIT guar; Weltenforscher [1,160$]'
Fehler in Zeile 321: Zu viele Argumente.
  `BESCHREIBEN EINHEIT abc 123 '
Warnung zur Zeile 314: Einheit desc hat keinen langen Befehl bekommen.
  `EINHEIT desc; Weltenforscher [1,160$]'
Warnung zur Zeile 332: Kein Text.
  `BENENNEN EINHEIT  '
Warnung zur Zeile 333: Kein Text.
  `BENENNEN EINHEIT '
Fehler in Zeile 334: Zu viele Argumente.
  `BENENNEN EINHEIT abc 123 '
Fehler in Zeile 335: BENENNE FREMD nicht mit region.
  `BENENNEN FREMDES REGION 1 abc '
Warnung zur Zeile 337: Kein Text.
  `BENENNEN FREMDE EINHEIT abc '
Fehler in Zeile 338: Objekt nicht erkannt.
  `BENENNEN FREMDE abc '
Fehler in Zeile 339: Objekt kann nicht umbenannt werden.
  `BENENNEN FREMDE ALLIANZ abc abc'
Warnung zur Zeile 340: Kein Text.
  `BENENNEN ALLIANZ '
Warnung zur Zeile 322: Einheit name hat keinen langen Befehl bekommen.
  `EINHEIT name; Weltenforscher [1,160$]'
Fehler in Zeile 342: Befehl nicht erkannt.
  `BEKLAUEN 1 '
Warnung zur Zeile 341: Einheit thie hat keinen langen Befehl bekommen.
  `EINHEIT thie; Weltenforscher [1,160$]'
Fehler in Zeile 350: ZÜCHTE PFERDE oder ZÜCHTE KRÄUTER.
  `ZU '
Warnung zur Zeile 351: Einheit bre5 hat schon einen langen Befehl in Zeile 350 ("ZU ").
  `ZU 5 Pferde bla '
Fehler in Zeile 351: Zu viele Argumente.
  `ZU 5 Pferde bla '
Fehler in Zeile 352: ZÜCHTE PFERDE oder ZÜCHTE KRÄUTER.
  `ZU 5 Silber '
Warnung zur Zeile 352: Einheit bre5 hat schon einen langen Befehl in Zeile 350 ("ZU ").
  `ZU 5 Silber '
Fehler in Zeile 356: Nummer der Burg fehlt.
  `BELAGERE '
Warnung zur Zeile 357: Einheit sie2 hat schon einen langen Befehl in Zeile 356 ("BELAGERE ").
  `BELAGERE 123 4 '
Fehler in Zeile 357: Zu viele Argumente.
  `BELAGERE 123 4 '
Warnung zur Zeile 358: Einheit sie2 hat schon einen langen Befehl in Zeile 356 ("BELAGERE ").
  `BELAGERE BURG 123 '
Fehler in Zeile 358: Zu viele Argumente.
  `BELAGERE BURG 123 '
Fehler in Zeile 359: Zahl zu groß: `REGION'. Stattdessen 1 benutzt.
  `BELAGERE REGION '
Warnung zur Zeile 359: Einheit sie2 hat schon einen langen Befehl in Zeile 356 ("BELAGERE ").
  `BELAGERE REGION '
Warnung zur Zeile 361: Längere Kämpfe schließen den langen Befehl aus.
  `ATTACKIEREN 123'
Fehler in Zeile 363: Einheit fehlt.
  `ATTACKIEREN '
Fehler in Zeile 364: Pro Einheit muß ein ATTACKIERE-Befehl gegeben werden.
  `ATTACKIEREN 123 456 '
Fehler in Zeile 365: Zahl zu groß: `ALLES'. Stattdessen 1 benutzt.
  `ATTACKIEREN ALLES '
Fehler in Zeile 366: TEMP-Einheiten kann man nicht ATTACKIEREn.
  `ATTACKIEREN TEMP 123 '
Warnung zur Zeile 360: Einheit att hat keinen langen Befehl bekommen.
  `EINHEIT att; Weltenforscher [1,160$]'
Fehler in Zeile 370: Zu viele Argumente.
  `ARBEITEN 10 '
Fehler in Zeile 378: Zu viele Argumente.
  `BOTSCHAFT REGION 1 1 Hallo '
Fehler in Zeile 379: Zahl zu groß: `Hallo'. Stattdessen 1 benutzt.
  `BOTSCHAFT SCHIFF Hallo '
Warnung zur Zeile 379: Kein Text.
  `BOTSCHAFT SCHIFF Hallo '
Fehler in Zeile 380: Zahl zu groß: `Hallo'. Stattdessen 1 benutzt.
  `BOTSCHAFT GEBäude Hallo '
Warnung zur Zeile 380: Kein Text.
  `BOTSCHAFT GEBäude Hallo '
Fehler in Zeile 381: Zahl zu groß: `Hallo'. Stattdessen 1 benutzt.
  `BOTSCHAFT BURG Hallo '
Warnung zur Zeile 381: Kein Text.
  `BOTSCHAFT BURG Hallo '
Fehler in Zeile 382: Zahl zu groß: `Hallo'. Stattdessen 1 benutzt.
  `BOTSCHAFT PARTEI Hallo '
Warnung zur Zeile 382: Kein Text.
  `BOTSCHAFT PARTEI Hallo '
Fehler in Zeile 383: Zahl zu groß: `Hallo'. Stattdessen 1 benutzt.
  `BOTSCHAFT EINHEIT Hallo '
Warnung zur Zeile 383: Kein Text.
  `BOTSCHAFT EINHEIT Hallo '
Warnung zur Zeile 371: Einheit mess hat keinen langen Befehl bekommen.
  `EINHEIT mess; Weltenforscher [1,160$]'
Fehler in Zeile 387: Unbekannter Trank.
  `BENUTZEN Schild '
Fehler in Zeile 388: Benutze was?.
  `BENUTZEN '
Fehler in Zeile 389: Unbekannter Trank.
  `BENUTZEN 1 2 Gehirnschmalz '
Warnung zur Zeile 384: Einheit use hat keinen langen Befehl bekommen.
  `EINHEIT use; Weltenforscher [1,160$]'
Fehler in Zeile 392: Beide Koordinaten müssen angegeben werden.
  `URSPRUNG '
Fehler in Zeile 393: Zu viele Argumente.
  `URSPRUNG 1 , 0 '
Fehler in Zeile 394: Zu viele Argumente.
  `URSPRUNG 1 2 3 '
Warnung zur Zeile 390: Einheit orig hat keinen langen Befehl bekommen.
  `EINHEIT orig; Weltenforscher [1,160$]'
Warnung zur Zeile 397: Kein Text.
  `EMAIL '
Fehler in Zeile 397: Ungültige eMail-Adresse.
  `EMAIL '
Fehler in Zeile 398: Ungültige eMail-Adresse.
  `EMAIL foo abar '
Fehler in Zeile 399: Ungültige eMail-Adresse.
  `EMAIL foo '
Warnung zur Zeile 395: Einheit emil hat keinen langen Befehl bekommen.
  `EINHEIT emil; Weltenforscher [1,160$]'
Warnung zur Zeile 402: Kein Text.
  `BANNER '
Fehler in Zeile 403: Zu viele Argumente.
  `BANNER abc def '
Warnung zur Zeile 400: Einheit bann hat keinen langen Befehl bekommen.
  `EINHEIT bann; Weltenforscher [1,160$]'
Fehler in Zeile 405: Befehl nicht erkannt.
  `MEINUNG 1 2 abc '
Fehler in Zeile 406: Befehl nicht erkannt.
  `MEINUNG 1 2 '
Fehler in Zeile 407: Befehl nicht erkannt.
  `MEINUNG '
Warnung zur Zeile 404: Einheit mein hat keinen langen Befehl bekommen.
  `EINHEIT mein; Weltenforscher [1,160$]'
Fehler in Zeile 415: Falsche Nummer.
  `NUMMER EINHEIT TEMP '
Fehler in Zeile 416: Falsche Nummer.
  `NUMMER EINHEIT TEMP 1 '
Fehler in Zeile 418: Zu viele Argumente.
  `NUMMER BURG 123 123 '
Fehler in Zeile 419: NUMMER SCHIFF, NUMMER BURG, NUMMER PARTEI oder NUMMER EINHEIT.
  `NUMMER '
Warnung zur Zeile 408: Einheit numm hat keinen langen Befehl bekommen.
  `EINHEIT numm; Weltenforscher [1,160$]'
Fehler in Zeile 427: Fehlende Allianzaktion.
  `ALLIANZ '
Fehler in Zeile 428: Keine Parteinummer.
  `ALLIANZ KOMMANDO'
Fehler in Zeile 429: Keine Parteinummer.
  `ALLIANZ EINLADEN'
Fehler in Zeile 430: Keine Parteinummer.
  `ALLIANZ BEITRETEN'
Fehler in Zeile 431: Zu viele Argumente.
  `ALLIANZ VERLASSEN 123'
Fehler in Zeile 432: Zu viele Argumente.
  `ALLIANZ NEU 123'
Warnung zur Zeile 301: Einheit TEMP tem1 hat nicht rekrutiert und keine Personen bekommen
Warnung zur Zeile 306: Einheit TEMP tem2 hat nicht rekrutiert und keine Personen bekommen
Warnung zur Zeile 90: Das Silber in Region (-9999,-9999) reicht evtl. nicht zum Leben; es fehlen 30 Silber.
Warnung zur Zeile 139: Das Silber in Region (1,0) reicht evtl. nicht zum Leben; es fehlen 20 Silber.

Es wurden Befehle für 1 partei und 88 Einheiten gelesen.
Es wurden 169 Fehler und 107 Warnungen entdeckt.
